<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="EngineerTestNG" verbose="3">
    <test name="testing">
        <classes>
            <class name="tests.unit.testng.ManualEngineerTestNgTest"/>
            <class name="tests.unit.testng.AutomatedEngineerTestNgTest"/>
            <class name="tests.unit.testng.EngineerTestNG"/>
            <class name="tests.ui.testng.BookingLondonTest"/>
            <class name="tests.ui.testng.BookingParisTest"/>
            <class name="tests.ui.testng.BookingTooltipsTest"/>
            <class name="tests.ui.testng.DemoQaTest"/>
            <class name="tests.ui.testng.TutorialTest"/>
        </classes>
    </test>
</suite>